In [1]:
import pandas as pd
from statistics import mean
import ast

In [17]:
g20k5 = pd.read_csv("g20k5skip.csv")

In [37]:
g20k5.groupby(['ak']).count()

,bk,ranks,scrollar invariants,gonality,genus,torsion,mean scrollar invariant,first scrollar invariant,profile,profile_as_list
ak,,,,,,,,,,
"[10, 11, 12]",46,46,46,46,46,46,46,46,46,46
"[10, 11, 13]",46,46,46,46,46,46,46,46,46,46
"[10, 11, 14]",44,44,44,44,44,44,44,44,44,44
"[10, 11, 15]",41,41,41,41,41,41,41,41,41,41
"[10, 11, 16]",37,37,37,37,37,37,37,37,37,37
...,...,...,...,...,...,...,...,...,...,...
"[9, 16, 18]",14,14,14,14,14,14,14,14,14,14
"[9, 16, 19]",7,7,7,7,7,7,7,7,7,7
"[9, 17, 18]",6,6,6,6,6,6,6,6,6,6
"[9, 17, 19]",7,7,7,7,7,7,7,7,7,7
"[9, 18, 19]",6,6,6,6,6,6,6,6,6,6

In [18]:
g20k5['mean scrollar invariant'] = g20k5['scrollar invariants'].map(lambda x: mean(ast.literal_eval(x).values()))

In [42]:
#pd.set_option('display.max_rows', 500)
#pd.set_option('display.max_columns', 500)
pd.set_option('display.expand_frame_repr', False)

In [59]:
n = 10
print(g20k5.nlargest(n, 'mean scrollar invariant')['torsion'].values[0])

[0, 0, 2, 2, 2, 2, 2, 2, 0, 3, 3, 3, 3, 0, 2, 0, 0, 2, 0]

In [60]:
# torsion profiles of n smallest mean scrollar invariants
n = 10
g20k5.nsmallest(n, 'mean scrollar invariant')['torsion'].values[0]

'[0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0]'

In [21]:
# maximizing first scrollar invariant
g20k5['first scrollar invariant'] = g20k5['scrollar invariants'].map(lambda x: ast.literal_eval(x)[1])

In [22]:
g20k5.nlargest(n, 'first scrollar invariant')[['scrollar invariants','torsion']]

,scrollar invariants,torsion
6805,"{0: 0, 1: 6, 2: 12, 3: 18, 4: 24}","[0, 0, 2, 2, 2, 2, 2, 2, 0, 3, 3, 3, 3, 0, 2, ..."
6812,"{0: 0, 1: 6, 2: 12, 3: 18, 4: 24}","[0, 0, 2, 2, 2, 2, 2, 2, 2, 0, 3, 3, 3, 0, 2, ..."
7149,"{0: 0, 1: 6, 2: 12, 3: 18, 4: 24}","[0, 0, 2, 2, 2, 2, 2, 2, 0, 3, 3, 3, 3, 3, 0, ..."
7156,"{0: 0, 1: 6, 2: 12, 3: 18, 4: 24}","[0, 0, 2, 2, 2, 2, 2, 2, 2, 0, 3, 3, 3, 3, 0, ..."
7219,"{0: 0, 1: 6, 2: 12, 3: 18, 4: 24}","[0, 0, 2, 2, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, ..."
7231,"{0: 0, 1: 6, 2: 12, 3: 18, 4: 24}","[0, 0, 2, 2, 2, 0, 3, 3, 3, 3, 3, 3, 3, 3, 0, ..."
7242,"{0: 0, 1: 6, 2: 12, 3: 18, 4: 24}","[0, 0, 2, 2, 2, 2, 0, 3, 3, 3, 3, 3, 3, 3, 0, ..."
7459,"{0: 0, 1: 6, 2: 12, 3: 18, 4: 24}","[0, 0, 2, 2, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
7471,"{0: 0, 1: 6, 2: 12, 3: 18, 4: 24}","[0, 0, 2, 2, 2, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
7482,"{0: 0, 1: 6, 2: 12, 3: 18, 4: 24}","[0, 0, 2, 2, 2, 2, 0, 3, 3, 3, 3, 3, 3, 3, 3, ..."

In [23]:
g20k5.nsmallest(n, 'first scrollar invariant')[['scrollar invariants','torsion']]

,scrollar invariants,torsion
0,"{0: 0, 1: 2, 2: 7, 3: 15, 4: 24}","[0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
1,"{0: 0, 1: 2, 2: 8, 3: 16, 4: 24}","[0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
2,"{0: 0, 1: 2, 2: 8, 3: 16, 4: 24}","[0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
3,"{0: 0, 1: 2, 2: 8, 3: 16, 4: 24}","[0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
4,"{0: 0, 1: 2, 2: 7, 3: 15, 4: 24}","[0, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
5,"{0: 0, 1: 2, 2: 8, 3: 16, 4: 24}","[0, 0, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
6,"{0: 0, 1: 2, 2: 8, 3: 16, 4: 24}","[0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
8,"{0: 0, 1: 2, 2: 8, 3: 16, 4: 24}","[0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
10,"{0: 0, 1: 2, 2: 7, 3: 15, 4: 24}","[0, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
11,"{0: 0, 1: 2, 2: 8, 3: 16, 4: 24}","[0, 0, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."

In [24]:
def count_mountain_widths(torsion):
    current_number = torsion[0]
    count = 0
    widths = []
    for number in torsion:
        if number != current_number:
            widths.append({current_number:count})
            count = 0
        count += 1
        current_number = number
    # account for final number
    widths.append({current_number:count})
    return widths

In [25]:
print(count_mountain_widths([2, 2, 2, 0, 3, 3, 4]))

[{2: 3}, {0: 1}, {3: 2}, {4: 1}]

In [26]:
g20k5['profile'] = g20k5['torsion'].apply(lambda x : count_mountain_widths(ast.literal_eval(x)))

In [27]:
g20k5.nlargest(n, 'mean scrollar invariant')['profile']

6805    [{0: 2}, {2: 6}, {0: 1}, {3: 4}, {0: 1}, {2: 1...
6812    [{0: 2}, {2: 7}, {0: 1}, {3: 3}, {0: 1}, {2: 1...
7149    [{0: 2}, {2: 6}, {0: 1}, {3: 5}, {0: 3}, {2: 1...
7156    [{0: 2}, {2: 7}, {0: 1}, {3: 4}, {0: 3}, {2: 1...
7219    [{0: 2}, {2: 2}, {0: 1}, {3: 9}, {0: 1}, {2: 1...
7231    [{0: 2}, {2: 3}, {0: 1}, {3: 8}, {0: 1}, {2: 1...
7242    [{0: 2}, {2: 4}, {0: 1}, {3: 7}, {0: 1}, {2: 1...
7459            [{0: 2}, {2: 2}, {0: 1}, {3: 10}, {0: 4}]
7471             [{0: 2}, {2: 3}, {0: 1}, {3: 9}, {0: 4}]
7482             [{0: 2}, {2: 4}, {0: 1}, {3: 8}, {0: 4}]
Name: profile, dtype: object

In [28]:
g20k5.nlargest(n, 'first scrollar invariant')['profile']

6805    [{0: 2}, {2: 6}, {0: 1}, {3: 4}, {0: 1}, {2: 1...
6812    [{0: 2}, {2: 7}, {0: 1}, {3: 3}, {0: 1}, {2: 1...
7149    [{0: 2}, {2: 6}, {0: 1}, {3: 5}, {0: 3}, {2: 1...
7156    [{0: 2}, {2: 7}, {0: 1}, {3: 4}, {0: 3}, {2: 1...
7219    [{0: 2}, {2: 2}, {0: 1}, {3: 9}, {0: 1}, {2: 1...
7231    [{0: 2}, {2: 3}, {0: 1}, {3: 8}, {0: 1}, {2: 1...
7242    [{0: 2}, {2: 4}, {0: 1}, {3: 7}, {0: 1}, {2: 1...
7459            [{0: 2}, {2: 2}, {0: 1}, {3: 10}, {0: 4}]
7471             [{0: 2}, {2: 3}, {0: 1}, {3: 9}, {0: 4}]
7482             [{0: 2}, {2: 4}, {0: 1}, {3: 8}, {0: 4}]
Name: profile, dtype: object

In [29]:
def count_mountain_widths_as_list(torsion):
    current_number = torsion[0]
    count = 0
    widths = []
    for number in torsion:
        if number != current_number:
            widths.append(current_number)
            widths.append(count)
            count = 0
        count += 1
        current_number = number
    # account for final number
    widths.append(current_number)
    widths.append(count)
    return tuple(widths)

In [30]:
g20k5['profile_as_list'] = g20k5['torsion'].apply(lambda x : count_mountain_widths_as_list(ast.literal_eval(x)))

In [31]:
g20k5.groupby(['profile_as_list'])['mean scrollar invariant'].mean().sort_values(ascending=False)

profile_as_list
(0, 2, 2, 4, 0, 1, 3, 7, 0, 1, 2, 1, 0, 3)          11.5
(2, 2, 0, 3, 3, 9, 0, 1, 2, 1, 0, 3)                11.5
(0, 2, 2, 3, 0, 1, 3, 8, 0, 1, 2, 1, 0, 3)          11.5
(0, 2, 2, 2, 0, 1, 3, 9, 0, 1, 2, 1, 0, 3)          11.5
(2, 2, 0, 2, 2, 1, 0, 1, 3, 8, 0, 1, 2, 1, 0, 3)    11.5
                                                    ...
(0, 1, 2, 12, 0, 2, 2, 3, 0, 1)                      9.6
(2, 10, 0, 2, 2, 1, 0, 1, 2, 4, 0, 1)                9.6
(2, 2, 0, 2, 2, 10, 0, 2, 2, 2, 0, 1)                9.6
(2, 2, 0, 2, 2, 11, 0, 1, 2, 2, 0, 1)                9.6
(2, 15, 0, 4)                                        9.6
Name: mean scrollar invariant, Length: 20816, dtype: float64

In [32]:
g20k5.groupby(['profile_as_list'])['mean scrollar invariant'].count().sort_values(ascending=False)

profile_as_list
(2, 2, 0, 5, 2, 11, 0, 1)                                                   10
(2, 6, 0, 5, 2, 7, 0, 1)                                                    10
(2, 5, 0, 5, 2, 8, 0, 1)                                                    10
(0, 5, 2, 13, 0, 1)                                                         10
(2, 3, 0, 5, 2, 10, 0, 1)                                                   10
                                                                            ..
(2, 1, 0, 2, 2, 4, 0, 1, 3, 1, 0, 1, 2, 1, 0, 1, 3, 4, 0, 1, 2, 1, 0, 1)     1
(2, 1, 0, 2, 2, 4, 0, 1, 3, 1, 0, 1, 2, 1, 0, 1, 3, 5, 0, 2)                 1
(2, 1, 0, 2, 2, 4, 0, 1, 3, 1, 0, 1, 2, 2, 0, 1, 2, 5, 0, 1)                 1
(2, 1, 0, 2, 2, 4, 0, 1, 3, 1, 0, 1, 2, 2, 0, 1, 3, 1, 0, 1, 2, 3, 0, 1)     1
(2, 15, 0, 4)                                                                1
Name: mean scrollar invariant, Length: 20816, dtype: int64